body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
    
    background-color: #cf9a50;
}
 header{ 
    background-color: #edc614;
    
}
nav {
    background-color: #cf9a50;
    
}
main {
    background-color: #cf9a50;
    font-size: 100%;
}
footer {
    background-color: #cf9a50;
}
li {
    display:inline-block;
    width: 30%;
    
}
h1{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: green;
}
p{
    line-height: 100%;
}
a{
    color:black;
    font-weight: bold;
}
